{% extends "base.html" %}
{% load static %}

{% block title %}Home - Steam Clone{% endblock %}

{% block content %}

    <!-- Floating Tab -->
    <div class="floating-tab">
        <a href="#">Home</a>
        <a href="#">New Releases</a>
        <a href="#">Specials</a>
        <a href="#">VR</a>
        <a href="#">Top Sellers</a>
    </div>


    <!-- Main Offer Section -->
    <div class="main-offer">
        <img src="../static/media/bigRelease.jpg" alt="Main Offer Image">
    </div>

    <!-- Feature & Recommended Section -->
    <div class="scroll-wrapper">
        <button class="scroll-button left">&lt;</button>
        <div class="scroll-content">
            {% for product in products %}
                <div class="feature-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="feature-details">
                        <h3>{{ product.name }}</h3>
                        <p class="desc">{{ product.description }}</p>
                        <p>Category: {{ product.category }}</p>
                        <p class="price">${{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="scroll-button right">&gt;</button>
    </div>

       <!-- Discount Banner -->
    <div class="discount-banner">
        <p>Discount, Demos, and More! Now through September 23</p>
    </div>

    <!-- Categories Section -->
    <div class="categories">
        <div class="category-item">Action</div>
        <div class="category-item">Adventure</div>
        <div class="category-item">RPG</div>
        <div class="category-item">Strategy</div>
    </div>
     <!-- Link your JavaScript file here -->
     <script src="{% static 'js/script.js' %}"></script> 
{% endblock %}
