{% extends 'base.html' %}

{% block meta %}
<title>Login - Steam Clone</title>
{% endblock meta %}

{% block content %}

<div class="register-page">
    <div class="login">

        <div class="form-container">
            <h1 style="color: #c7d5e0">SIGN IN</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Setim Account Name</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Sign In" />
                </div>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>

        <div class="register-link">
            <span>Don't have an account? </span><br>
            <a href="{% url 'main:register' %}">Register Now!</a>
        </div>
    </div>
</div>

{% endblock content %}
